* { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: aqua;

}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px gray;
    padding: 10px;
}

img.lado { 
    float: right;
}

h1 {
    font-size: 2em;;
}

h2 {
    font-size: 1.5em;
    color: blue;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: darkmagenta;
}

a:hover {
    text-decoration: underline;
    color: red;
}